@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: Roboto, sans-serif;
  margin: 0%;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(224, 234, 243);
}

main {
  display: flex;
  justify-content: space-evenly;
}

.trybewarts-header-logo {
  width: 40px;
  height: 40px;
  padding-left: 15px;
  padding-bottom: 3px;
  padding-top: 2px;
}

.trybewarts-login {
  display: flex;
  padding-right: 15px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 675px;
  height: 675px;
  margin-left: 2%;
  margin-top: 10px;
  background-color: rgb(248, 252, 255);
  border: 1px solid gray;
  border-radius: 3%;
}

#trybewarts-header-title {
  color: white;
}

#trybewarts-forms-logo {
  height: 500px;
  width: 500px;
}

#input-name {
  height: 25px;
  width: 250px;
  margin: 8px 0 4px;
}

#input-lastname {
  height: 25px;
  width: 250px;
  margin: 8px 0 4px;
}

#input-email {
  height: 25px;
  width: 250px;
  margin: 8px 0 4px;
}

input {
  background-color: white;
  border: 1px solid grey;
}

#house {
  height: 30px;
  width: 210px;
  margin: 8px 0 4px;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: 8px 0 2px;
}

.outline {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin: 8px 0 2px;
  padding: 2px 3px 0;
  padding-left: 3px;
  width: 250px;
  height: 100%;
  border: solid 1px gray;
  background-color: white;
}

.multline {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 15px;
}

textarea {
  height: 180px;
  width: 515px;
  resize: none;
  background-color: white;
}

#submit-btn {
  height: 25px;
  width: 75px;
  color: white;
  background-color: rgb(43, 167, 144);
  margin: 8px 0 2px;
}

footer {
  display: flex;
  width: 100%;
  padding-left: 20px;
  background-color: rgb(158, 158, 158);
  position: fixed;
  bottom: 0;
}
